---
import { getCollection, getEntry } from 'astro:content';
import Container from '@/components/Container.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import BlogPreview from '@/components/ui/BlogPreview.astro';

const entry = await getEntry('pages', 'blog');
const blogs = (await getCollection('blogs')).sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout seo={entry.data.seo}>
  <Container as='section' class='pt-16 pb-12'>
    <div class="flex flex-col gap-2">
      <h1 class="text-xl font-semibold text-headings tracking-tight">Blog</h1>
      <p class="text-foreground">Thoughts on engineering, philosophy, and building things.</p>
    </div>
  </Container>
  <Container as='section' class='pb-12'>
    <ul class="flex flex-col">
      {blogs.map((post, i) => <BlogPreview entry={post} index={i} />)}
    </ul>
  </Container>
</BaseLayout>
