---
import '@/styles/global.css';
import { type Seo } from '@/lib/constants';
import Header from '@/components/partials/Header.astro';
import Footer from '@/components/partials/Footer.astro';
import Head from '@/components/partials/Head.astro';
import CommandPalette from '@/components/ui/CommandPalette.astro';

interface Props {
  seo?: Seo;
  showProgress?: boolean;
}

const { seo } = Astro.props;
---

<html lang="en">
  <Head seo={seo} />
  <body>
    <Header />
    <slot name="before-main" />
    <main class="page" transition:animate="initial">
      <slot />
    </main>
    <Footer />
    <CommandPalette />
  </body>
</html>
