---
import type { CollectionEntry } from 'astro:content';
import { formatDateDot } from '@/lib/utils';
import { render } from 'astro:content';
import ListRow from '@/components/ui/ListRow.astro';

interface Props {
  entry: CollectionEntry<'notes'>;
}

const { entry } = Astro.props;
const { remarkPluginFrontmatter } = await render(entry);
---

<li>
  <ListRow
    href={`/notes/${entry.id}/`}
    date={formatDateDot(entry.data.date)}
    title={entry.data.title}
    read={remarkPluginFrontmatter.minutesRead}
  />
</li>
